* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    background-image: linear-gradient(180deg, #8123ff, #cb00b2);
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
}
.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 1px black;
    padding: 2%;
    padding-top: 6%;
}
.container b {
    font-size: larger;
}
.container b,
.container p {
    margin: 5px 0;
    color: #000;
}
.ProPic {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 4px solid #453bfd;
    box-shadow: 0 0 12px 1px #453bfd;
    position: relative;
    top: 60px;
    object-fit: cover;
}
.fa-check {
    background-color: #2f82ff;
    padding: 3px;
    color: #fff;
    border-radius: 50%;
    margin: 0 5px;
}
.socials {
    margin: 10px 0
}
.socials ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}
.socials ul li {
    background-color: #fff;
    border-radius: 50%;
    margin: 0px 5px 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 12px -1px #000;
}
.main-links,
.links {
    margin: 35px 0 0 0;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.links{
    flex-direction: column;
    align-items: center;
}
.links .fas {padding: 0 5px;}
.links a {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    display: flex;
    background-color: #fff;
    text-align: center;
    border-radius: 50px;
    margin: 9px;
    height: 50px;
    box-shadow: 0px 0px 9px 1px black;
}
.links a img{
    height: 90%;
    border-radius: 50%;
    margin: 0 5px;
}
.btnsLinks {
    padding: 20px;
    display: flex;
}
.btnsLinks a {
    background-image: linear-gradient(45deg, #6485ff, #3a3cff);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    min-width: 110px;
    display: block;
    box-shadow: 0 0 5px 2px #3a3cff;
}
.main-links a {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;text-decoration: none;
    color: #fff;
}
.main-links a img {
    width: 50%;
    border-radius: 7px;
    transition: 0.5s all ease-in-out;
    box-shadow: 0 0 12px -1px #000;
}
.main-links a:hover img{
    box-shadow: 0 0 12px 3px #000;
}
.rec-Artcl {
    height: 220px;
    width: 60%;
    padding: 15px 0;
}
b {
    padding: 10px;
    display: block;
    color: #fff;
    width:100%
}
.credits {
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
/*Media Queries for responsive*/
@media (max-width: 840px) {
    .container {
        width: 90%;
    }
    .links a {
        width: 90%;
    }
    .main-links, .rec-Artcl {
        width: 90%;
    }
}
@media (max-width: 640px) {
    .container {
        width: 90%;
        padding-top: 15%;
    }
    .main-links, .links,
    .rec-Artcl {
        width: 90%;
    }
}
/*----------------------------------------------------------------------*/